@inherits ValueTransformationInputBase<ValueTransformationBase>

<div class="transformation-input">
    <label for="@($"input_{Id}")">
        Detail:
    </label>
    <input id="@($"input_{Id}")"
           type="text"
           class="@DefaultCssClass"
           @bind=ValueTransformation.TransformationDetail
           @bind:event="oninput"
           @bind:after=HandleOperationDetailChanged />
</div>