@inherits FieldMapperWrapperBase

<div class="o1l-modal@($"{(Show ? " show" : null)}{DefaultCssClass}")" tabindex="-1" role="dialog"
     data-from-component="@nameof(FieldMapperDialog)"
     data-component-instance="@InstanceId"
     data-mapper-state="@MapperStateId">
    <div class="o1l-modal-dialog"
         role="document">
        <div class="o1l-modal-content">
            <header class="o1l-modal-header">
                <span class="o1l-modal-title">
                    Field Mapper
                </span>
            </header>
            <section class="o1l-modal-body">
                @if (Show)
                {
                    @RenderFieldMapperEditor
                }
            </section>
            <footer class="o1l-modal-footer">
                <button type="button"
                        class="o1l-btn-cancel@(DefaultCssClass)"
                        @onclick=Close>
                    <text>Cancel</text>
                </button>
                <button type="button"
                        class="o1l-btn-confirm@(DefaultCssClass)"
                        @onclick=HandleCommitClicked>
                    <text>Map Fields</text>
                </button>
            </footer>
        </div>
    </div>
</div>