$charcoal: #3a4148;
$graphite-gray: #44494e;
$dim-gray: #6d6d6d;
$shadow-white: #d5d5d5;
$white-smoke: #f3f3f3;

$green-900: #006b00;
$orange-600: #e88a00;
$orange-500: #ff9800;
$red-600: #e80000;
$red-500: #ff0000;

$dodger-blue: #2196f3;
