#blazor-error-ui {
  position: relative;
  background: rgba(51, 51, 51, 0.2);
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  z-index: 1000;
  vertical-align: middle;
}
#blazor-error-ui .reload {
  color: teal;
}
#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
