.mapping-rule-config-panel {
    .field-input-container {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    .field-transform-config-wrapper {
        margin-top: 1rem;
        padding: 0.5rem;
        border-left: 3px solid var(--o1l-use-primary-modal-header-border, #ccc);
    }
}
