@import 'ColorVariables';

@mixin table-defaults {
    --o1l-use-table-tr-height: var(--o1l-table-tr-height, 2.4em);
    border-spacing: 0;

    thead {
        @include table-thead-defaults;
    }

    tbody {
        @include table-tbody-defaults;
    }
}

@mixin table-thead-defaults {
    --o1l-use-table-head-background: var(--o1l-table-head-background, #{$default-dark1});
    --o1l-use-table-head-foreground: var(--o1l-table-head-foreground, #{$default-light1});
    --o1l-use-table-head-border: var(--o1l-table-head-border, #{$default-border-light});
    position: sticky;
    top: 0;
    z-index: 3;

    tr {
        @include table-thead-tr-defaults;
    }
}

@mixin table-thead-tr-defaults {
    height: var(--o1l-use-table-tr-height);
    z-index: 3;

    &:last-of-type {
        th, td {
            border-bottom: var(--o1l-use-table-head-border);
        }
    }

    th, td {
        @include table-thead-tr-thtd-defaults;
    }
}

@mixin table-thead-tr-thtd-defaults {
    --o1l-use-table-head-background: var(--o1l-table-head-background, #{$default-dark1});
    --o1l-use-table-head-foreground: var(--o1l-table-head-foreground, #{$default-light1});
    --o1l-use-table-head-border: var(--o1l-table-head-border, #{$default-border-light});
    --o1l-use-table-cell-padding: var(--o1l-table-cell-padding, #{$default-cell-padding});
    background: var(--o1l-use-table-head-background);
    color: var(--o1l-use-table-head-foreground);
    text-align: left;
    border-top: var(--o1l-use-table-head-border);
    border-right: var(--o1l-use-table-head-border);
    padding: var(--o1l-use-table-cell-padding);

    &:first-of-type {
        border-left: var(--o1l-use-table-head-border);
    }
}

@mixin table-tbody-defaults {
    --o1l-use-table-body-background: var(--o1l-table-body-background, #{$default-dark2});
    --o1l-use-table-body-foreground: var(--o1l-table-body-foreground, #{$default-light1});
    background: var(--o1l-use-table-body-background);
    color: var(--o1l-use-table-body-foreground);
    z-index: 1;

    tr {
        @include table-tbody-tr-defaults;
    }
}

@mixin table-tbody-tr-defaults {
    --o1l-use-table-body-row-background-alt: var(--o1l-table-body-row-background-alt, #{$default-translucent-medium});
    --o1l-use-table-body-row-selected-background: var(--o1l-table-body-row-selected-background, #{$default-translucent-light});
    --o1l-use-table-body-row-hover-background: var(--o1l-table-body-row-hover-background, #{$default-translucent-dark});
    height: var(--o1l-use-table-tr-height);
    z-index: 2;

    th, td {
        @include table-tbody-tr-thtd-defaults;
    }

    &:nth-child(odd) {
        background: var(--o1l-use-table-body-row-background-alt);

        th, td {
            background: var(--o1l-use-table-body-row-background-alt);
        }
    }

    &:hover, &.force-hover-style {
        background: var(--o1l-use-table-body-row-hover-background);

        th, td {
            background: var(--o1l-use-table-body-row-hover-background);
        }
    }

    &.selected {
        background: var(--o1l-use-table-body-row-selected-background);

        th, td {
            background: var(--o1l-use-table-body-row-selected-background);
        }
    }
}

@mixin table-tbody-tr-thtd-defaults {
    --o1l-use-table-body-background: var(--o1l-table-body-background, #{$default-dark2});
    --o1l-use-table-body-foreground: var(--o1l-table-body-foreground, #{$default-light1});
    --o1l-use-table-body-border: var(--o1l-table-body-border, #{$default-border-light});
    --o1l-use-table-cell-padding: var(--o1l-table-cell-padding, #{$default-cell-padding});
    background: var(--o1l-use-table-body-background);
    color: var(--o1l-use-table-body-foreground);
    border-right: var(--o1l-use-table-body-border);
    border-bottom: var(--o1l-use-table-body-border);
    padding: var(--o1l-use-table-cell-padding);
    text-align: left;
    z-index: 2;

    &:first-of-type {
        border-left: var(--o1l-use-table-body-border);
    }
}
