@using DataImportUtility.Components.FieldMappingComponents.FieldTransformationComponents
@using DataImportUtility.Models
@using DataImportUtility.Rules

@inherits FieldMapperEditorBase

<div class="field-mapper-editor-wrapper">
    @base.Render
</div>
