@import "../Sass/ButtonMixins";
@import '../Sass/ColorVariables';
@import "../Sass/TableMixins";


table.o1l-library-style {
    --o1l-use-danger-color: var(--o1l-danger-color, #{$default-danger});

    @include table-defaults;

    button {
        @include button-base-style;
    }

    .field-info-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        .field-name-wrapper {
            display: flex;
            align-items: center;
            gap: .5rem;

            .required-field {
                color: var(--o1l-use-danger-color);
            }
        }
    }
}

.value-config-wrapper.o1l-library-style {
}
