.o1l-flyout-wrapper.o1l-library-style {
  --o1l-use-primary-flyout-background: var(--o1l-primary-flyout-background, rgba(33, 33, 33, 0.2));
  --o1l-use-primary-flyout-content-background: var(--o1l-primary-flyout-content-background, #222);
  --o1l-use-primary-flyout-content-border: var(--o1l-primary-flyout-content-border, 1px solid rgba(200, 200, 200, 0.1));
  --o1l-use-primary-flyout-content-box-shadow: var(--o1l-primary-flyout-content-box-shadow, 0 0 10px rgba(33, 33, 33, 0.2));
  --o1l-use-primary-flyout-header-border: var(--o1l-primary-flyout-header-border, 1px solid rgba(200, 200, 200, 0.1));
  --o1l-use-primary-flyout-footer-border: var(--o1l-primary-flyout-footer-border, 1px solid rgba(200, 200, 200, 0.1));
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  background-color: var(--o1l-use-primary-flyout-background);
  z-index: 10;
  animation: fadeOut 0.2s forwards;
}
.o1l-flyout-wrapper.o1l-library-style .o1l-flyout-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--o1l-use-primary-flyout-content-background);
  z-index: 2;
  overflow: hidden;
  animation: flyOutToRight 0.2 forwards;
  border: var(--o1l-use-primary-flyout-content-border);
}
.o1l-flyout-wrapper.o1l-library-style .o1l-flyout-panel .o1l-flyout-content {
  border-radius: 5px;
  box-shadow: var(--o1l-use-primary-flyout-content-box-shadow);
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}
.o1l-flyout-wrapper.o1l-library-style .o1l-flyout-panel .o1l-flyout-content .o1l-flyout-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--o1l-use-primary-flyout-header-border);
  padding: 0 1em;
}
.o1l-flyout-wrapper.o1l-library-style .o1l-flyout-panel .o1l-flyout-content .o1l-flyout-header .o1l-flyout-title {
  font-size: 1.5em;
  margin: 0;
  padding: 0.4em 0;
}
.o1l-flyout-wrapper.o1l-library-style .o1l-flyout-panel .o1l-flyout-content .o1l-flyout-header .close {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  cursor: pointer;
  color: white;
  background: none;
  background-color: transparent;
  border: none;
}
.o1l-flyout-wrapper.o1l-library-style .o1l-flyout-panel .o1l-flyout-content .o1l-flyout-body {
  padding: 1em;
  overflow: auto;
}
.o1l-flyout-wrapper.o1l-library-style .o1l-flyout-panel .o1l-flyout-content .o1l-flyout-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  padding: 1em;
  border-top: var(--o1l-use-primary-flyout-footer-border);
}
.o1l-flyout-wrapper.o1l-library-style.show {
  animation: fadeIn 0.2s forwards;
}
.o1l-flyout-wrapper.o1l-library-style.show .o1l-flyout-panel {
  animation: flyInFromRight 0.2s forwards;
}
@keyframes fadeIn {
  from {
    display: block;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
  }
}
@keyframes flyInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes flyInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes flyInFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes flyInFromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes flyOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes flyOutToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes flyOutToTop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes flyOutToBottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
.o1l-flyout-wrapper.o1l-library-style button {
  --o1l-use-button-primary-background: var(--o1l-button-primary-background, #0078d4);
  --o1l-use-button-primary-background-hover: var(--o1l-button-primary-background-hover, #004578);
  --o1l-use-button-primary-border: var(--o1l-button-primary-border, 1px solid #0078d4);
  --o1l-use-button-primary-border-hover: var(--o1l-button-primary-border-hover, 1px solid #004578);
  --o1l-use-button-primary-text: var(--o1l-button-primary-text, #f0f0f0);
  --o1l-use-button-primary-text-hover: var(--o1l-button-primary-text-hover, var(--o1l-use-button-primary-text));
  --o1l-use-button-padding: var(--o1l-button-padding, .5rem 1rem);
  --o1l-use-button-padding-small: var(--o1l-button-padding-small, .25rem);
  --o1l-use-button-border-radius: var(--o1l-button-border-radius, .4rem);
  --o1l-use-link-color: var(--o1l-link-color, #2196f3);
  --o1l-use-success-color: var(--o1l-success-color, #26b050);
  --o1l-use-warning-color: var(--o1l-warning-color, #e88a00);
  --o1l-use-danger-color: var(--o1l-danger-color, #e50000);
  background: var(--o1l-use-button-primary-background);
  border: var(--o1l-use-button-primary-border);
  color: var(--o1l-use-button-primary-text);
  padding: var(--o1l-use-button-padding);
  border-radius: var(--o1l-use-button-border-radius);
  cursor: pointer;
}
.o1l-flyout-wrapper.o1l-library-style button:hover {
  background: var(--o1l-use-button-primary-background-hover);
  border: var(--o1l-use-button-primary-border-hover);
  color: var(--o1l-use-button-primary-text-hover);
}
.o1l-flyout-wrapper.o1l-library-style button.o1l-btn-sm {
  padding: var(--o1l-use-button-padding-small);
}
.o1l-flyout-wrapper.o1l-library-style button.o1l-btn-cancel {
  background: transparent;
  border: none;
  color: var(--o1l-use-link-color);
}
.o1l-flyout-wrapper.o1l-library-style button.o1l-btn-cancel:hover, .o1l-flyout-wrapper.o1l-library-style button.o1l-btn-cancel:focus {
  text-decoration: underline;
  filter: brightness(110%);
}
.o1l-flyout-wrapper.o1l-library-style button.o1l-btn-close.o1l-btn-icon-only {
  background: transparent;
  border: none;
  color: var(--o1l-use-button-primary-text);
}
.o1l-flyout-wrapper.o1l-library-style button.o1l-btn-close.o1l-btn-icon-only:hover {
  background: transparent;
  border: none;
  color: unset;
  filter: brightness(110%);
}
.o1l-flyout-wrapper.o1l-library-style button.o1l-btn-close.o1l-btn-icon-only:hover {
  background: var(--o1l-use-button-primary-background-hover);
  border: var(--o1l-use-button-primary-border-hover);
  color: var(--o1l-use-button-primary-text-hover);
}
.o1l-flyout-wrapper.o1l-library-style button.o1l-btn-remove {
  background: transparent;
  border: none;
  color: var(--o1l-use-button-primary-text);
  color: var(--o1l-use-danger-color);
}
.o1l-flyout-wrapper.o1l-library-style button.o1l-btn-remove:hover {
  background: transparent;
  border: none;
  color: unset;
  filter: brightness(110%);
}
.o1l-flyout-wrapper.o1l-library-style button.o1l-btn-add {
  background: transparent;
  border: none;
  color: var(--o1l-use-button-primary-text);
  color: var(--o1l-use-success-color);
}
.o1l-flyout-wrapper.o1l-library-style button.o1l-btn-add:hover {
  background: transparent;
  border: none;
  color: unset;
  filter: brightness(110%);
}
.o1l-flyout-wrapper.o1l-library-style button.o1l-btn-edit {
  background: transparent;
  border: none;
  color: var(--o1l-use-button-primary-text);
  color: var(--o1l-use-warning-color);
}
.o1l-flyout-wrapper.o1l-library-style button.o1l-btn-edit:hover {
  background: transparent;
  border: none;
  color: unset;
  filter: brightness(110%);
}
.o1l-flyout-wrapper.o1l-library-style button.o1l-btn-link {
  background: transparent;
  border: none;
  color: var(--o1l-use-link-color);
  padding: 0;
}
.o1l-flyout-wrapper.o1l-library-style button.o1l-btn-link:hover, .o1l-flyout-wrapper.o1l-library-style button.o1l-btn-link:focus {
  text-decoration: underline;
  filter: brightness(110%);
}
