.page {
  --o1l-upload-area-bg-color: var(--primary-button-bg-color);
  --o1l-upload-area-bg-hover-color: var(--primary-button-hover-bg-color);
  --o1l-upload-area-border-color: var(--primary-button-border-color);
  --o1l-upload-area-border-hover-color: var(--primary-button-hover-border-color);
  --o1l-upload-area-text-color: var(--primary-button-text-color);
  --o1l-upload-area-text-hover-color: var(--primary-button-text-hover-color);
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.page h1 {
  padding: 0 1rem;
}
