.value-transform-details ::deep .transformation-input {
  display: grid;
  grid-template-columns: 20ch auto;
  padding: 0.5rem;
  align-items: center;
  gap: 1rem;
}
.value-transform-details table.o1l-library-style {
  border-spacing: 0;
}
.value-transform-details table.o1l-library-style thead {
  --o1l-use-table-thead-tr-height: var(--o1l-table-thead-tr-height, 2.4em);
  --o1l-use-table-head-background: var(--o1l-table-head-background, #222);
  --o1l-use-table-head-foreground: var(--o1l-table-head-foreground, #fff);
  --o1l-use-table-head-border: var(--o1l-table-head-border, 1px solid rgba(200, 200, 200, 0.1));
  position: sticky;
  top: 0;
  z-index: 3;
}
.value-transform-details table.o1l-library-style thead tr {
  height: var(--o1l-use-table-thead-tr-height);
  z-index: 3;
}
.value-transform-details table.o1l-library-style thead tr:last-of-type th, .value-transform-details table.o1l-library-style thead tr:last-of-type td {
  border-bottom: var(--o1l-use-table-head-border);
}
.value-transform-details table.o1l-library-style thead tr th, .value-transform-details table.o1l-library-style thead tr td {
  --o1l-use-table-head-background: var(--o1l-table-head-background, #222);
  --o1l-use-table-head-foreground: var(--o1l-table-head-foreground, #fff);
  --o1l-use-table-head-border: var(--o1l-table-head-border, 1px solid rgba(200, 200, 200, 0.1));
  --o1l-use-table-cell-padding: var(--o1l-table-cell-padding, 0.4rem 0.6rem);
  background: var(--o1l-use-table-head-background);
  color: var(--o1l-use-table-head-foreground);
  text-align: left;
  border-top: var(--o1l-use-table-head-border);
  border-right: var(--o1l-use-table-head-border);
  padding: var(--o1l-use-table-cell-padding);
}
.value-transform-details table.o1l-library-style thead tr th:first-of-type, .value-transform-details table.o1l-library-style thead tr td:first-of-type {
  border-left: var(--o1l-use-table-head-border);
}
.value-transform-details table.o1l-library-style tbody {
  --o1l-use-table-tbody-tr-height: var(--o1l-table-tbody-tr-height, 2.4em);
  --o1l-use-table-body-background: var(--o1l-table-body-background, #333);
  --o1l-use-table-body-foreground: var(--o1l-table-body-foreground, #fff);
  background: var(--o1l-use-table-body-background);
  color: var(--o1l-use-table-body-foreground);
  z-index: 1;
}
.value-transform-details table.o1l-library-style tbody tr {
  --o1l-use-table-body-row-background-alt: var(--o1l-table-body-row-background-alt, rgba(128, 128, 128, 0.04));
  --o1l-use-table-body-row-selected-background: var(--o1l-table-body-row-selected-background, rgba(200, 200, 200, 0.1));
  --o1l-use-table-body-row-hover-background: var(--o1l-table-body-row-hover-background, rgba(33, 33, 33, 0.2));
  height: var(--o1l-use-table-tbody-tr-height);
  z-index: 2;
}
.value-transform-details table.o1l-library-style tbody tr th, .value-transform-details table.o1l-library-style tbody tr td {
  --o1l-use-table-body-background: var(--o1l-table-body-background, #333);
  --o1l-use-table-body-foreground: var(--o1l-table-body-foreground, #fff);
  --o1l-use-table-body-border: var(--o1l-table-body-border, 1px solid rgba(200, 200, 200, 0.1));
  --o1l-use-table-cell-padding: var(--o1l-table-cell-padding, 0.4rem 0.6rem);
  background: var(--o1l-use-table-body-background);
  color: var(--o1l-use-table-body-foreground);
  border-right: var(--o1l-use-table-body-border);
  border-bottom: var(--o1l-use-table-body-border);
  padding: var(--o1l-use-table-cell-padding);
  text-align: left;
  z-index: 2;
}
.value-transform-details table.o1l-library-style tbody tr th:first-of-type, .value-transform-details table.o1l-library-style tbody tr td:first-of-type {
  border-left: var(--o1l-use-table-body-border);
}
.value-transform-details table.o1l-library-style tbody tr:nth-child(odd) {
  background: var(--o1l-use-table-body-row-background-alt);
}
.value-transform-details table.o1l-library-style tbody tr:nth-child(odd) th, .value-transform-details table.o1l-library-style tbody tr:nth-child(odd) td {
  background: var(--o1l-use-table-body-row-background-alt);
}
.value-transform-details table.o1l-library-style tbody tr:hover, .value-transform-details table.o1l-library-style tbody tr.force-hover-style {
  background: var(--o1l-use-table-body-row-hover-background);
}
.value-transform-details table.o1l-library-style tbody tr:hover th, .value-transform-details table.o1l-library-style tbody tr:hover td, .value-transform-details table.o1l-library-style tbody tr.force-hover-style th, .value-transform-details table.o1l-library-style tbody tr.force-hover-style td {
  background: var(--o1l-use-table-body-row-hover-background);
}
.value-transform-details table.o1l-library-style tbody tr.selected {
  background: var(--o1l-use-table-body-row-selected-background);
}
.value-transform-details table.o1l-library-style tbody tr.selected th, .value-transform-details table.o1l-library-style tbody tr.selected td {
  background: var(--o1l-use-table-body-row-selected-background);
}
.value-transform-details table.o1l-library-style button {
  --o1l-use-button-primary-background: var(--o1l-button-primary-background, #0078d4);
  --o1l-use-button-primary-background-hover: var(--o1l-button-primary-background-hover, #004578);
  --o1l-use-button-primary-border: var(--o1l-button-primary-border, 1px solid #0078d4);
  --o1l-use-button-primary-border-hover: var(--o1l-button-primary-border-hover, 1px solid #004578);
  --o1l-use-button-primary-text: var(--o1l-button-primary-text, #f0f0f0);
  --o1l-use-button-primary-text-hover: var(--o1l-button-primary-text-hover, var(--o1l-use-button-primary-text));
  --o1l-use-button-padding: var(--o1l-button-padding, .5rem 1rem);
  --o1l-use-button-padding-small: var(--o1l-button-padding-small, .25rem);
  --o1l-use-button-border-radius: var(--o1l-button-border-radius, .4rem);
  --o1l-use-link-color: var(--o1l-link-color, #2196f3);
  --o1l-use-success-color: var(--o1l-success-color, #26b050);
  --o1l-use-warning-color: var(--o1l-warning-color, #e88a00);
  --o1l-use-danger-color: var(--o1l-danger-color, #e50000);
  background: var(--o1l-use-button-primary-background);
  border: var(--o1l-use-button-primary-border);
  color: var(--o1l-use-button-primary-text);
  padding: var(--o1l-use-button-padding);
  border-radius: var(--o1l-use-button-border-radius);
  cursor: pointer;
}
.value-transform-details table.o1l-library-style button:hover {
  background: var(--o1l-use-button-primary-background-hover);
  border: var(--o1l-use-button-primary-border-hover);
  color: var(--o1l-use-button-primary-text-hover);
}
.value-transform-details table.o1l-library-style button.o1l-btn-sm {
  padding: var(--o1l-use-button-padding-small);
}
.value-transform-details table.o1l-library-style button.o1l-btn-cancel {
  background: transparent;
  border: none;
  color: var(--o1l-use-link-color);
}
.value-transform-details table.o1l-library-style button.o1l-btn-cancel:hover, .value-transform-details table.o1l-library-style button.o1l-btn-cancel:focus {
  text-decoration: underline;
  filter: brightness(110%);
}
.value-transform-details table.o1l-library-style button.o1l-btn-close.o1l-btn-icon-only {
  background: transparent;
  border: none;
  color: var(--o1l-use-button-primary-text);
}
.value-transform-details table.o1l-library-style button.o1l-btn-close.o1l-btn-icon-only:hover {
  background: transparent;
  border: none;
  color: unset;
  filter: brightness(110%);
}
.value-transform-details table.o1l-library-style button.o1l-btn-close.o1l-btn-icon-only:hover {
  background: var(--o1l-use-button-primary-background-hover);
  border: var(--o1l-use-button-primary-border-hover);
  color: var(--o1l-use-button-primary-text-hover);
}
.value-transform-details table.o1l-library-style button.o1l-btn-remove {
  background: transparent;
  border: none;
  color: var(--o1l-use-button-primary-text);
  color: var(--o1l-use-danger-color);
}
.value-transform-details table.o1l-library-style button.o1l-btn-remove:hover {
  background: transparent;
  border: none;
  color: unset;
  filter: brightness(110%);
}
.value-transform-details table.o1l-library-style button.o1l-btn-add {
  background: transparent;
  border: none;
  color: var(--o1l-use-button-primary-text);
  color: var(--o1l-use-success-color);
}
.value-transform-details table.o1l-library-style button.o1l-btn-add:hover {
  background: transparent;
  border: none;
  color: unset;
  filter: brightness(110%);
}
.value-transform-details table.o1l-library-style button.o1l-btn-edit {
  background: transparent;
  border: none;
  color: var(--o1l-use-button-primary-text);
  color: var(--o1l-use-warning-color);
}
.value-transform-details table.o1l-library-style button.o1l-btn-edit:hover {
  background: transparent;
  border: none;
  color: unset;
  filter: brightness(110%);
}
.value-transform-details table.o1l-library-style button.o1l-btn-link {
  background: transparent;
  border: none;
  color: var(--o1l-use-link-color);
  padding: 0;
}
.value-transform-details table.o1l-library-style button.o1l-btn-link:hover, .value-transform-details table.o1l-library-style button.o1l-btn-link:focus {
  text-decoration: underline;
  filter: brightness(110%);
}
