.data-file-mapper-wrapper.o1l-library-style {
  display: grid;
  grid-template-areas: "ed ed fm" "fp fp fm" "dso dso fm" "dd dd fm";
  grid-template-rows: repeat(3, auto) 1fr;
  grid-template-columns: repeat(2, 1fr) auto;
  overflow: hidden;
}
.data-file-mapper-wrapper.o1l-library-style:has(.preview-data-table-wrapper) {
  grid-template-areas: "ed  ed  fm" "fp  fp  fm" "dso dso fm" "dd  pd  fm";
}
.data-file-mapper-wrapper.o1l-library-style .error-display {
  grid-area: ed;
}
.data-file-mapper-wrapper.o1l-library-style .preview-data-table-wrapper {
  grid-area: pd;
  overflow: auto;
}
.data-file-mapper-wrapper.o1l-library-style ::deep .data-file-picker {
  grid-area: fp;
  padding: 1rem;
}
.data-file-mapper-wrapper.o1l-library-style ::deep .field-mapper-wrapper {
  grid-area: fm;
}
.data-file-mapper-wrapper.o1l-library-style ::deep .data-set-options {
  grid-area: dso;
}
.data-file-mapper-wrapper.o1l-library-style ::deep .data-table-display-wrapper {
  grid-area: dd;
  overflow: auto;
}
.data-file-mapper-wrapper.o1l-library-style ::deep table.o1l-library-style thead tr {
  z-index: 3;
}
.data-file-mapper-wrapper.o1l-library-style ::deep table.o1l-library-style thead tr:last-of-type th, .data-file-mapper-wrapper.o1l-library-style ::deep table.o1l-library-style thead tr:last-of-type td {
  border-bottom: var(--o1l-use-table-head-border);
}
.data-file-mapper-wrapper.o1l-library-style ::deep table.o1l-library-style thead tr th, .data-file-mapper-wrapper.o1l-library-style ::deep table.o1l-library-style thead tr td {
  --o1l-use-table-head-background: var(--o1l-table-head-background, #222);
  --o1l-use-table-head-foreground: var(--o1l-table-head-foreground, #fff);
  --o1l-use-table-head-border: var(--o1l-table-head-border, 1px solid rgba(255, 255, 255, 0.2));
  --o1l-use-table-cell-padding: var(--o1l-table-cell-padding, 0.4rem 0.6rem);
  background: var(--o1l-use-table-head-background);
  color: var(--o1l-use-table-head-foreground);
  text-align: left;
  border-top: var(--o1l-use-table-head-border);
  border-right: var(--o1l-use-table-head-border);
  padding: var(--o1l-use-table-cell-padding);
}
.data-file-mapper-wrapper.o1l-library-style ::deep table.o1l-library-style thead tr th:first-of-type, .data-file-mapper-wrapper.o1l-library-style ::deep table.o1l-library-style thead tr td:first-of-type {
  border-left: var(--o1l-use-table-head-border);
}
.data-file-mapper-wrapper.o1l-library-style ::deep table.o1l-library-style thead tr.header-controls td .header-wrapper {
  flex-direction: column;
  align-items: flex-start;
}
.data-file-mapper-wrapper.o1l-library-style button {
  --o1l-use-button-primary-background: var(--o1l-button-primary-background, #0078d4);
  --o1l-use-button-primary-background-hover: var(--o1l-button-primary-background-hover, #004578);
  --o1l-use-button-primary-border: var(--o1l-button-primary-border, 1px solid #0078d4);
  --o1l-use-button-primary-border-hover: var(--o1l-button-primary-border-hover, 1px solid #004578);
  --o1l-use-button-primary-text: var(--o1l-button-primary-text, #f0f0f0);
  --o1l-use-button-primary-text-hover: var(--o1l-button-primary-text-hover, var(--o1l-use-button-primary-text));
  --o1l-use-button-padding: var(--o1l-button-padding, .5rem 1rem);
  --o1l-use-button-padding-small: var(--o1l-button-padding-small, .25rem);
  --o1l-use-button-border-radius: var(--o1l-button-border-radius, .4rem);
  --o1l-use-link-color: var(--o1l-link-color, #2196f3);
  --o1l-use-success-color: var(--o1l-success-color, #26b050);
  --o1l-use-warning-color: var(--o1l-warning-color, #e88a00);
  --o1l-use-danger-color: var(--o1l-danger-color, #e50000);
  background: var(--o1l-use-button-primary-background);
  border: var(--o1l-use-button-primary-border);
  color: var(--o1l-use-button-primary-text);
  padding: var(--o1l-use-button-padding);
  border-radius: var(--o1l-use-button-border-radius);
  cursor: pointer;
}
.data-file-mapper-wrapper.o1l-library-style button:hover {
  background: var(--o1l-use-button-primary-background-hover);
  border: var(--o1l-use-button-primary-border-hover);
  color: var(--o1l-use-button-primary-text-hover);
}
.data-file-mapper-wrapper.o1l-library-style button.o1l-btn-sm {
  padding: var(--o1l-use-button-padding-small);
}
.data-file-mapper-wrapper.o1l-library-style button.o1l-btn-cancel {
  background: transparent;
  border: none;
  color: var(--o1l-use-link-color);
}
.data-file-mapper-wrapper.o1l-library-style button.o1l-btn-cancel:hover, .data-file-mapper-wrapper.o1l-library-style button.o1l-btn-cancel:focus {
  text-decoration: underline;
  filter: brightness(110%);
}
.data-file-mapper-wrapper.o1l-library-style button.o1l-btn-close.o1l-btn-icon-only {
  background: transparent;
  border: none;
  color: var(--o1l-use-button-primary-text);
}
.data-file-mapper-wrapper.o1l-library-style button.o1l-btn-close.o1l-btn-icon-only:hover {
  background: transparent;
  border: none;
  color: unset;
  filter: brightness(110%);
}
.data-file-mapper-wrapper.o1l-library-style button.o1l-btn-close.o1l-btn-icon-only:hover {
  background: var(--o1l-use-button-primary-background-hover);
  border: var(--o1l-use-button-primary-border-hover);
  color: var(--o1l-use-button-primary-text-hover);
}
.data-file-mapper-wrapper.o1l-library-style button.o1l-btn-remove {
  background: transparent;
  border: none;
  color: var(--o1l-use-button-primary-text);
  color: var(--o1l-use-danger-color);
}
.data-file-mapper-wrapper.o1l-library-style button.o1l-btn-remove:hover {
  background: transparent;
  border: none;
  color: unset;
  filter: brightness(110%);
}
.data-file-mapper-wrapper.o1l-library-style button.o1l-btn-add {
  background: transparent;
  border: none;
  color: var(--o1l-use-button-primary-text);
  color: var(--o1l-use-success-color);
}
.data-file-mapper-wrapper.o1l-library-style button.o1l-btn-add:hover {
  background: transparent;
  border: none;
  color: unset;
  filter: brightness(110%);
}
.data-file-mapper-wrapper.o1l-library-style button.o1l-btn-edit {
  background: transparent;
  border: none;
  color: var(--o1l-use-button-primary-text);
  color: var(--o1l-use-warning-color);
}
.data-file-mapper-wrapper.o1l-library-style button.o1l-btn-edit:hover {
  background: transparent;
  border: none;
  color: unset;
  filter: brightness(110%);
}
.data-file-mapper-wrapper.o1l-library-style button.o1l-btn-link {
  background: transparent;
  border: none;
  color: var(--o1l-use-link-color);
  padding: 0;
}
.data-file-mapper-wrapper.o1l-library-style button.o1l-btn-link:hover, .data-file-mapper-wrapper.o1l-library-style button.o1l-btn-link:focus {
  text-decoration: underline;
  filter: brightness(110%);
}

.o1l-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
